@{
    ViewData["Title"] = "Home Page";
}

    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm">
                <div class="card" style="width: 18rem">
                    <img class="card-img-top" src="https://via.placeholder.com/150">
                    <div class="card-body">
                        <h5 class="card-title">Goal:</h5>
                        <p class="card-text">Pokemon name goes here</p>
                        <a href="#" class="btn btn-info">Caught!</a>
                    </div>

                </div>
            </div>
                <div class="col-lg-4 col-sm">
                    <div class="card" style="width: 18rem">
                        <div class="card-body">
                            <h2 class="text-center display-1">0</h2>
                            <div class="text-center">
                                <div class="btn btn-dark">-</div>
                                <input type="number" style="width: 4rem" />
                                <div class="btn btn-dark">+</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-sm col">
                    <h5>What are my chances? <span class="badge badge-info">?</span></h5>

                    <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Normal</th>
                                <th scope="col">With Shiny Charm</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Random Encounter</th>
                                <td>##.### %</td>
                                <td>##.### %</td>
                            </tr>
                            <tr>
                                <th scope="row">Masuda Method <a href="#"><span class="badge badge-info">?</span></a></th>
                                <td>##.### %</td>
                                <td>##.### %</td>
                            </tr>
                        </tbody>
                        
                    </table>
                </div>
            </div>
        </div>
